
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* HEADER - NAVBAR */ 
.navbar-brand h4{
    color: white;
}
header{
    background-color: #35363A;
    
}

.nav-link p b{
    color: green;
}
.nav-link p b:hover{
    color: rgb(1, 173, 1);
}
.nav-link{
    color: gray;
    margin: 3px;
    font-size: 18px;
}
.nav-link:hover{
    color: white;
}

.imgCodo{
    width: 125px;
    margin-left: 35px;
    transform: translateY(-5px);
}
.navbar-brand{
    transform: translateY(-7px); 
}
.navbar-nav{
    margin-left: 35px ;
}

/* MAIN - CAROUSEL */
.carousel-inner div img{
    filter: brightness(50%);
}
.carousel-caption {
    width: 500px;
    height: 300px;
    top: 200px;
    bottom: auto;
    left: 55%;
    text-align: right;
    font-size: 18px;  
}

.carousel-control-next{
    margin-bottom: 400px;
}
.carousel-control-prev{
    margin-bottom: 400px;  
}

.carousel-caption .btn-secondary{
    margin: 10px;
    background: rgb(1, 173, 1);
}
.carousel-caption .btn-secondary:hover{
    background-color: green;
}
.btn-outline-secondary{
    color: white;
    border-color: whitesmoke;
}


/* MAIN - ORADORES */

.oradores{
    margin-top: 10px;
    text-align: center;
}
.oradores span{
    font-size: 14px;
}

.card{
    display: inline-table;
    margin: 10px;
    text-align: left;
}
.card-text{
    font-size: 13px;
    color: rgb(48, 45, 45);
}

.card-body button{
    padding: 0;
    margin: 0;
    width: 70px;
    height: 18px;
    font-size: 12px;
}
.card-body .btn-info{
 margin: 0;
 width: 50px;
 color: white;
}

/* MAIN - CONOCE MAS*/

.conoce-mas{
    display: flex;
    margin: 0;
    padding: 0;
}

.conoce-imagen{
    max-width: 50%;
}

.conoce-imagen img{
    max-width: 100%;
}

.conoce-texto{
    background: #35363A;
    padding: 10px;
    color: white;
}

/* MAIN ORADORES-LAYOUT */

.oradores-layout{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    display: grid;
}

.oradores-layout input{
    margin: 15px;
}

.col-12 textarea{
    transform: translateX(15px) translateY(-10px);
    font-size: 20px;
    
}
.col-12 p{
    text-align: start;
    margin-left: 15px;
    font-size: 12px;
    color: grey;
}

.d-grid button{
    transform: translateX(15px);
    background: rgb(1, 173, 1);
    margin-bottom: 15px;
    height: 40px;
    
}

.row input:focus{
    box-shadow: 0 0 5px rgb(1, 173, 1);
}

.row textarea:focus{
    box-shadow: 0 0 5px rgb(1, 173, 1);
}

/* FOOTER */
footer{
    background: #35363A;
}
.pie-pagina{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: start;
    height: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.pie-pagina .nav-link{
    font-size: 15px;
    max-width: 100px;
    color: whitesmoke;
}

.pie-pagina .nav-link:hover{
    color: grey;
}



