*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h4{
    color: white;
}
header{
    background-color: #35363A;
    
}

.nav-link p b{
    color: green;
}
.nav-link p b:hover{
    color: rgb(1, 173, 1);
}
.nav-link{
    color: gray;
    margin: 3px;
    font-size: 18px;
}
.nav-link:hover{
    color: white;
}

.imgCodo{
    width: 125px;
    margin-left: 35px;
    transform: translateY(-5px);
}
.navbar-brand{
    transform: translateY(-7px); 
}
.navbar-nav{
    margin-left: 35px ;
}

/* MAIN */
.carousel-inner div img{
    filter: brightness(50%);
}
.carousel-caption {
    width: 500px;
    height: 300px;
    top: 200px;
    bottom: auto;
    left: 55%;
    text-align: right;
    font-size: 18px;  
}

.carousel-control-next{
    margin-bottom: 400px;
}
.carousel-control-prev{
    margin-bottom: 400px;  
}

.btn-secondary{
    margin: 10px;
    background: rgb(1, 173, 1);
}
.btn-secondary:hover{
    background-color: green;
}
.btn-outline-secondary{
    color: white;
    border-color: whitesmoke;
}
